<a href="https://colab.research.google.com/github/jayjayporras/CCINCOML_EXERCISES_COM23P/blob/main/exercise5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 5

1. Compute the average

My electricity bills for the last three months have been 23, 32 and 64.

- What is the average monthly electricity bill over the three month period?

- Write an expression to calculate the mean, and use print() to view the result.

In [2]:

bill1 = 23
bill2 = 32
bill3 = 64
average = bill1 + bill2 + bill3 / 3
print("The average monthly electricity bill over the three month period is: " + str(average))

The average monthly electricity bill over the three month period is: 76.33333333333333

2. Create a condition

The code below calculates the population densities of Rio de Janeiro and San Francisco.

Write a code to compare these densities. Is the population of San Francisco more dense than that of Rio de Janeiro? Print True if it is and False if not.

In [7]:

sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population / sf_area
rio_de_janeiro_pop_density = rio_population / rio_area

# Compare population densities
is_sf_denser_than_rio = san_francisco_pop_density > rio_de_janeiro_pop_density

print(is_sf_denser_than_rio)

False

3. Fix the error

The line of code below will cause a SyntaxError, thanks to the misuse of quotation marks.

- First run it with Test Run to view the error message.
- Then resolve the problem so that the quote (from Henry Ford(opens in a new tab)) is correctly assigned to the variable ford_quote.

In [8]:
ford_quote = "Whether you think you can, or you think you can't--you're right."

4. Write a server log message

You’ll be provided with example data for a user, the time of their visit and the site they accessed. You should use the variables provided and the techniques you’ve learned to print a log message like this one (with the username, url, and timestamp replaced with values from the appropriate variables):

In [25]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"

log_message = f"{username} accessed the site {url} at {timestamp}."
print(log_message)

Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50.

5. Use string concatenation and the `len()` function to find the length of a certain movie star's actual full name. Store that length in the name_length variable. Don't forget that there are spaces in between the different parts of a name!

In [9]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

# Calculate the length of the full name
name_length = len(given_name + " " + middle_names + " " + family_name)

print(name_length)

20

6. Type Conversion

- You will need to change the types of the input and output data in order to get the result you want.

- Calculate and print the total sales for the week from the data provided.

- Print out a string of the form "This week's total sales: xxx", where xxx will be the actual total of all the numbers. You’ll need to change the type of the input data in order to calculate that total.

In [15]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#Convert sales data to integers and calculate total sales
total_sales = int(mon_sales) + int(tues_sales) + int(wed_sales) + int(thurs_sales) + int(fri_sales)

#Print the total sales for the week
print("This week's total sales:", total_sales)

This week's total sales: 529

7. String methods

Below, we have a string variable that contains the first verse of the poem, If by Rudyard Kipling(opens in a new tab)

In [21]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"

What is the length of the string variable verse?

In [20]:
length_of_verse = len(verse)
print("Length of the string variable verse:", length_of_verse)

Length of the string variable verse: 362

What is the count of occurrences of the word 'you' in the verse?

In [19]:
#word_count_you = verse.count("you")
print("Count of occurrences of the word 'you' in the verse:", word_count_you)

Count of occurrences of the word 'you' in the verse: 8

What is the index of the first occurrence of the word 'head' in verse?

In [18]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"

8. Which Prize?

- Write an if statement that lets a competitor know which of these prizes they won based on the number of points they scored, which is stored in the integer variable points.

|   Points| Prize  |   
|---|---|
|  1 - 50  |  Candy |
|  51 - 150 |  Chocolate |  
|  151 - 200 | Sports Car  |   
|  201 - 250 | Mansion  |  


 - In your if statement, assign the result variable to a string holding the appropriate message based on the value of points. If they've won a prize, the message should state "Congratulations! You won a [prize name]!" with the prize name. If there's no prize, the message should state "Oh dear, no prize this time."

In [27]:

points = 175  # Example points, you can change it to test different scenarios

if 1 <= points <= 50:
    result = "Congratulations! You won a Candy!"
elif 51 <= points <= 150:
    result = "Congratulations! You won a Chocolate!"
elif 151 <= points <= 200:
    result = "Congratulations! You won a Sports Car!"
elif 201 <= points <= 250:
    result = "Congratulations! You won a Mansion!"
else:
    result = "Oh dear, no prize this time."

print(result)

Congratulations! You won a Sports Car!

9. Guess My Number

- You decide you want to play a game where you are hiding a number from someone. Store this number in a variable called 'answer'. Another user provides a number called 'guess'. By comparing guess to answer, you inform the user if their guess is too high or too low.

- Fill in the conditionals below to inform the user about how their guess compares to the answer.

In [5]:
50

50